{% extends "layout.html" %}
{% block title %}Create New Short URL{% endblock %}
{% block body %}
  <h2>Submit URL</h2>
  <form action="" method=post>
    {% if error %}
      <p class=error><strong>Error:</strong> {{ error }}
    {% endif %}
    <table>
		<tr>
			<td>
				<p>URL:
			</td>
			<td class=url_td>
			
				<input type=text name=url value="{{ url }}" class=urlinput>
		  </td>
		  <td rowspan=2 class=url_td>
			<input type=submit value="Shorten">
		  </td>
		 </tr>
		 <tr>
			 <td>
				 <p>Name:
			 </td>
			<td class=url_td>
					<input type=text name=desname value="{{ desname }}" class=urlinput>
			</td>
		  </tr>
		  
	</table>
  </form>
{% endblock %}
